body {
    color: #000000;
    margin: 0px;
    padding: 0px;
    background: #fffcf5;
}
#header {
    background: #fffcf5;
    height: 252px;
    padding: 0px;
    margin: 0px;
    background-image: url("iStock_000007540791Small_scaled.jpg");
    background-position: right;
    background-repeat: no-repeat;
}
#header h1 {
    text-align: left;
    font: 72pt verdana,arial,helvetica,sans-serif;
}
#header p {
    text-align: left;
    margin-left: 30px;
    font: italic 16pt verdana,arial,helvetica,sans-serif;
}
#nav {
    background: #808080;
    color: #ffffff;
}
#nav ul {
    display: block;
    margin: 0px;
    padding: 0px;
}
#nav li {
    display: inline-block;
    text-align: left;
    padding: 5px 20px 5px 20px;
    font: 12pt verdana,arial,helvetica,sans-serif;
}
/* getting Webkit to actually display the hover property
 * is surprisingly unobvious... */
#nav li:hover a, #nav li a:hover {
    color: #ffffff;
    text-shadow: #404040 1px 1px 1px;
}
#nav a:link { color: #e0e0e0; }
#nav a:visited { color: #e0e0e0; }
#wrap {
    background: #ffffff;
}
.column {
    padding: 0px;
    font: 12pt verdana,arial,helvetica,sans-serif;
}
#column1 {
    width: 50%;
    margin: 0px;
    float: left;
}
#column2 {
    border-left: 1px solid #e0e0e0;
    width: 50%;
    margin: 0px 0px 0px 50%;
}
.column p {
    margin: 6px;
}
.column li {
    margin: 6px;
}
.column a:link, .column a:visited {
    color: #808080;
}
#faq {
    padding: 10px;
}
#faq dt {
    font-weight: bold;
    margin: 6px;
}
#footer {
    background: #fffcf5;
    border-top: 3px solid #808080;
    padding: 4px;
    margin: 0px;
    width: 100%;
    clear: left;
}
#footer p {
    font: 8pt verdana,arial,helvetica,sans-serif;
    text-align: center;
}
H2 { font: bold 18pt verdana,arial,helvetica,sans-serif; }
H3 { font: bold 14pt verdana,arial,helvetica,sans-serif; }
UL { font: 12pt verdana,arial,helvetica,sans-serif; }
P { font: 12pt verdana,arial,helvetica,sans-serif; }
P.small { font: 10pt verdana,arial,helvetica,sans-serif; }
P B { font: bold 12pt verdana,arial,helvetica,sans-serif; }
P EM { font: italic 12pt verdana,arial,helvetica,sans-serif; }
TD { font: 12pt verdana,arial,helvetica,sans-serif; }
TD B { font: bold 12pt verdana,arial,helvetica,sans-serif; }
PRE { font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace; }
all.program { font: bold 12pt verdana,arial,helvetica,sans-serif; }
all.option { font: bold 12pt verdana,arial,helvetica,sans-serif; }
all.function { font: bold 12pt verdana,arial,helvetica,sans-serif; }
PRE.example {
  font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace;
  color: #000000;
  background-color: #d0d0f6;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1pt;
  padding: 10pt;
  white-space: pre;
}
PRE.source {
  font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace;
  color: #000000;
  background-color: #d0d0f6;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1pt;
  padding: 10pt;
  white-space: pre;
}
TD.hilite {
  color: #000000;
  background-color: #d0d0f6;
}
TR.hilite {
  color: #000000;
  background-color: #d0d0f6;
}
P.quote {
  color: #000000;
  background-color: #d0d0f6;
  padding: 20pt;
}
/* vim:set ft=css: */
